body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
a,
a:active,
a:focus {
  outline: none;
}

a:active {
  color: black;
}

.Toastify > .signup-toaster-container {
  z-index: 9999;
  transform: translate(-50%);
  left: 50%;
  position: fixed;
  padding: 4px;
  width: 320px;
  box-sizing: border-box;
  color: #fff;
  bottom: 1em;
}
